{% extends 'base1.html'%}
{% load static %}

{% block body_block %}


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>We sale fresh fruits</p>
					<h1>About Us</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- featured section -->
<div class="feature-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="featured-text">
					<h2 class="pb-3">Why <span class="orange-text">Fresh Fruits</span></h2>
					<div class="row">
						<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
							<div class="list-box d-flex">
								<div class="list-icon">
									<i class="fas fa-shipping-fast"></i>
								</div>
								<div class="content">
									<h3>Home Delivery</h3>
									<p>Get fastest delivery of your products.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
							<div class="list-box d-flex">
								<div class="list-icon">
									<i class="fas fa-money-bill-alt"></i>
								</div>
								<div class="content">
									<h3>Best Price</h3>
									<p>Buy fresh fruits in an affordable price at any time.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
							<div class="list-box d-flex">
								<div class="list-icon">
									<i class="fas fa-briefcase"></i>
								</div>
								<div class="content">
									<h3>Custom Box</h3>
									<p></p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="list-box d-flex">
								<div class="list-icon">
									<i class="fas fa-sync-alt"></i>
								</div>
								<div class="content">
									<h3>Quick Refund</h3>
									<p>100% refund guarented within 24 hours of your return.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end featured section -->
<!-- shop banner -->
<section class="shop-banner">
	<div class="container">
		<h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
		<div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
		<a href="{%url 'shopping'%}" class="cart-btn btn-lg">Shop Now</a>
	</div>
</section>
<!-- end shop banner -->
<!-- team section -->
<div class="mt-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3>Our <span class="orange-text">Team</span></h3>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-team-item">
					<div class="team-bg team-bg-1"></div>
					<h4>Jimmy Doe <span>Farmer</span></h4>
					<ul class="social-link-team">
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-team-item">
					<div class="team-bg team-bg-2"></div>
					<h4>Marry Doe <span>Farmer</span></h4>
					<ul class="social-link-team">
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
				<div class="single-team-item">
					<div class="team-bg team-bg-3"></div>
					<h4>Simon Joe <span>Farmer</span></h4>
					<ul class="social-link-team">
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end team section -->

<!-- logo carousel -->
<div class="logo-carousel-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="logo-carousel-inner">
					<div class="single-logo-item">
						<img src="{% static 'img/company-logos/1.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'img/company-logos/2.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'img/company-logos/3.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'img/company-logos/4.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'img/company-logos/5.png' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end logo carousel -->
{% endblock %}

